body{
    background-color: lightgrey;
}
.heading{
    color:aqua;
    background-color:white;
    font-family: 'Open Sans Condensed', sans-serif;
}

.paragraph{
    color: blue;
    background-color:blanchedalmond;
    border-style: double;
    font-family: 'Fuggles', cursive;
}